* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: darkgrey;
    color: blanchedalmond; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-image: url('../images/header-background.jpg');
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bolder;
    margin: 0;
    font-size: 34px;
    color: blanchedalmond;
}


header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header a {
    text-decoration: none;
    color: blanchedalmond;
}

header nav ul li a {
    padding: 12px 18px;
    font-weight: lighter;
    font-size: 1.25vw;
}

.profile {
    background-image: url(../images/header-background.jpg);
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.profile-pic {
    width: 125px;
    height: auto;
    justify-content: flex-start;
}

.profile h2 {
    font-size: 1.65vw;
    align-items: flex-end;

}



.about {
    
}


#my-work {
    display: flex;
    flex-wrap: wrap;
}

.myWork {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.myWork-heading {
    padding: 25px;
    line-height: 1.1;
}

.myWork img {
    width: 300px;
    height: auto;
}

.myWork-runBuddy {
    background-image: url('../images/runBuddy_picture.jpg');
    background-size: cover;
    width: 400px;
    height: auto;
}

.myWork-robotG {
    background-image: url(../images/robotGladiator_picture.jpg);
    background-size: cover;
    width: 400px;
    height: auto;
}

.section-title {
    width: 85%;
}